body {
    margin: 0;
    font-family: Verdana, serif;
    background-color: #f5f5f5;
    font-size: large;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

li{
    margin-top: 3px;
}

h5.disclaimer {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/*Classification rating image and text div*/
#ratingContainer {
    display: flex;
    align-items: center;
    animation: fadeIn 3s ease-out; /* Rating fades in - looks cool */
    margin-bottom: 20px
}

#ratingElement {
    margin-right: 5px;
}

#ratingImage {
    width: 50px;
    height: auto;
    margin-left: 20px;
    animation: float 3s ease-in-out infinite alternate; /* Animation to give a floating effect - make noticeable */
}

/*Dark theme styles*/
.dark-theme{
    background-color: #333;
    color: #f0f0f0;
}

/* Animation stuff (TODO too much? keep / remove?) */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
